{{ attach_library('commerce_vipps/commerce_vipps.payment') }}
<div id="vipps-overlay">
    <div class="vipps-page-wrapper" data-gateway="{{ gateway_instance }}" data-order-id="{{ order_id }}" data-payment-id="{{ payment_id }}">
        <div class="vipps-content-wrapper">
            <img class="commerce-vipps-logo" src="/{{ module_path }}/assets/logo.png" />
            <p class="text-center">{{ message }}</p>
            <p><img class="commerce-vipps-spinner" src="/{{ module_path }}/assets/spinner.gif" alt=""></p>
            <h2 class="text-center">{{ phone }}</h2>
            <p class="text-center"><a href="{{ cancel_url }}">{{ 'Cancel'|t }}</a></p>
        </div>
    </div>
</div>